h1 {
  color: rgb(14, 14, 14);
  padding: 0 5%;
}

body {
  background-color: cornflowerblue;
}

p {
  margin: 0;
}

#videoElement {
  width: 500px;
  height: 375px;
  background-image: url("./images/static-glitch.gif");
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid black;
}

#savedVideo {
  width: 500px;
  height: 375px;
  background-image: url("./images/static-glitch.gif");
  border-radius: 10px;
  border: 1px solid black;
}

#container {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  border-radius: 10px;
}

#canvas_photo {
  width: 500px;
  height: 375px;
  background-image: url("./images/appareil-photo.jpg");
  background-position: 50%;
  border: 1px solid black;
  border-radius: 5px;
}

.screen-div {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

button {
  position: absolute;
  left: 0;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: hsl(167, 52%, 20%);
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: hsl(167, 52%, 20%);
}

button:hover,
a:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(192, 255, 241);
  transform: scale(1.05);
  box-shadow: 2px 2px 5px black;
}

#cancel {
  position: absolute;
  left: auto;
  right: 0;
}

#cancel-picture {
  position: absolute;
  right: 0;
  left: auto;
}

.disabled_button {
  background-color: #666;
  color: white;
}

.disabled_button:hover {
  background-color: #666;
  transform: scale(1);
  box-shadow: none;
  color: white;
}

#last-div {
  background-color: white;
  border: 2px black solid;
  display: flex;
  justify-content: space-between;
  margin: 20px 5%;
}

#barcodeAPI {
  position: relative;
  margin: 0;
  border-radius: 0;
  border: 0;
}
